body{
    margin: 0;
}

.contenedor1{
    background-color: rgb(212, 212, 212);
    border: 2px solid rgb(0, 0, 0);
    outline: solid rgb(212, 212, 212) 1em;
    width: 80vw;
    height: 15vw;
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 5%;
    margin: 2em;
}

.caja{
    background-color: rgba(255, 18, 89, 0.438);
    border: 1px solid rgb(255, 18, 89);
    padding: 2em;
    height: auto;
    margin:1%;
}

/*---------------------------------------------------------------------------------*/
.contenedor2{
    background-color: rgb(36, 36, 36);
    display: flex;
    padding: 1%;
    align-items: center;
}

.contenedor2 h2{
    color: rgb(188, 248, 223);
    margin-left: 1em;
    margin-right: 1em

}

.contenedor2 a{
    color: white;
    background-color:rgb(82, 82, 82);
    margin-left: 0.5em;
    padding: 0.6em;
    height: 1em;
}

/*---------------------------------------------------------------------------------*/


.contenedor3{
    margin:1em;
    margin-top: 2em;
    border: 2px solid rgb(112, 238, 112);
    padding: 1em;
    display: flex;
    background-color: rgb(240, 240, 240);
    justify-content: space-between;
    outline: solid rgb(240, 240, 240) 0.5em;
}

.contenedor3 div{
    background-color: white;
    width: 30%;
    padding: 1em;
    border-radius: 20px;
    border: 2px solid pink;
}

/*---------------------------------------------------------------------------------*/

.contenedor4{
    background-color: white;
    border: 2px solid grey;
    margin: 2em;
    width: 30vw;
    display: flex;
    flex-direction: column;
}

.contenedor4 .mensaje{
    background-color: rgb(164, 219, 233);
    color: black;
    margin-top: 1em;
    margin-left: 1em;
    padding: 1em;
    border-radius: 20px;
    margin-right: 9em;
    order:1;
}

.input{
    background-color:  rgb(233, 233, 233);
    height: 10%;
    padding: 1em;
    display: flex;
    margin-top:2em;
    justify-content: space-between;
    order: 2;
}
.input input{
    height: 2em;
    border: 1px solid grey;
    padding: 0.5em;
        flex-grow: 2;
}

.input button{
    border: 1px solid rgb(223, 223, 223);
    margin-left: 1em;
    padding: 0.5em;
    background-color: rgb(0, 155, 194);
    color:white;
    flex-grow: 1;
}