body{
    margin: 0;
    padding: 0;
}

.cortinilla{
    z-index: 100;
}

.img1{
    height: 100vh;
    width: 100vw;
    background-image: url('https://picsum.photos/1920/1080?random=1');
    transition:2s
}

label{
    position: absolute;
    top: 50%;
    right: 50%;
    padding: 1em;
    color: white;
    background-color:rgb(74, 146, 90);
    border-radius: 20px;
    z-index: 200;
    box-shadow:  5px 5px 10px 2px rgba(0, 0, 0, 0.342);
    z-index: 150;
}

input{
    position: absolute;
    visibility: hidden;
    z-index: 10;
}

.img2{
    background-color: aqua;
    background-image: url('https://picsum.photos/1920/1080?random=2');
    height: 700px;
    width: 700px;
}

label:hover{
    background-color: green;
    cursor: pointer;
}

#dale:checked ~ .img1{
    transform: translateY(-800px);
    opacity: 0;
}

#dale:checked .botonaso{
    opacity: 0;
    display: none;
}

.cuerpo{
    position: absolute;
    right: 50%;
    top: 50%;
    width: 700px;
    height: 700px;
    z-index: 0;
    display: none;
}

#dale:checked .cuerpo{
    display: block;
}

