body{
    display: flex;
    justify-content: center;
    background-color: black;
}

.esfera{
    width: 300px;
    height: 300px;
    margin-top: 8em;
    background-color: red;
    border-radius: 50%;
    animation: latir 2s linear infinite ;
    position: absolute;
}

.esfera2{
    width: 300px;
    height: 300px;
    margin-top: 8em;
    background-color: rgba(255, 0, 0, 0.596);
    border-radius: 50%;
    animation: latir2 2s linear infinite ;
    position: absolute;
}

@keyframes latir{
    0%{
        transform: scale(1);
    }

        100%{
        transform: scale(1.2);
        opacity: 0;
    }
}

@keyframes latir2{
    0%{
        transform: scale(1);
    }

    100%{
        transform: scale(1.5);
        opacity: 0;
    }
}

.contenedor{
    width: 50vh;
    height: 4em;
    border: 4px solid white;
    margin-top: 35em;
    border-radius: 30px;
    overflow: hidden;
    z-index: 10;
    position: relative;

}

.carga{
    position: absolute;
    float: left;
    height: 4em;
    background-color: rgb(214, 193, 6);
    animation: crecer 3s linear infinite;
    z-index: 1;

}

@keyframes crecer{
    0%{
        width: 0;
    }

    100%{
        width: 100%;
        
        background-color: rgb(157, 174, 250);
    }
}