body{
    display: flex;
    justify-content: center;
    background-color: black;
}

.esfera{
    width: 300px;
    height: 300px;
    margin-top: 8em;
    background: radial-gradient(rgb(255, 126, 126), rgb(255, 0, 0), rgba(209, 0, 0, 0.979));
    border-radius: 50%;
    animation: latir 2s linear infinite ;
    position: absolute;
    
}


@keyframes latir{
    0%{
        transform: scale(1);
        opacity: 0;
        box-shadow: 0 0 10px 0 rgba(255, 0, 0, 0.87);
    }

    10%{
        opacity: 1;
    }

    100%{
        transform: scale(1.2);
        opacity: 0;
        box-shadow: 0px 0px 20px 40px rgba(255, 0, 0, 0);
    }
}


/*--------------------------------------------------------------------------*/


.contenedor{
    width: 50vh;
    height: 4em;
    border: 4px solid white;
    margin-top: 35em;
    border-radius: 30px;
    overflow: hidden;
    z-index: 10;
    position: relative;

}

.carga{
    position: absolute;
    float: left;
    height: 4em;
    background-color: rgb(214, 193, 6);
    animation: crecer 3s linear infinite;
    z-index: 1;

}

@keyframes crecer{
    0%{
        width: 0;
    }

    100%{
        width: 100%;
        background-color: rgb(157, 174, 250);
    }
}