body{
    display: flex;
    flex-wrap:wrap;
    align-items: center;
    justify-content: center;
    font-family:sans-serif;
    font-weight: bold;
    background: linear-gradient(white, rgb(223, 223, 223))

}

.griduno{
    width: 55vw;
    height: 30em;
    background-color: rgb(244, 245, 245);
    display: grid;
    padding: 1.5em;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1em;
    margin: 2em;
    background-color: rgb(24, 23, 23);
    box-shadow: 3px 3px 10px 4px rgba(0, 0, 0, 0.363);
}

.griduno div{
    display: flex;
border-radius: 10px;
justify-content: center;
align-items: center;
color: white;
font-size: 1em;
}

.elemento1{
    grid-column: 1/3;
    background-color: rgb(243, 55, 65);

}

.elemento2{
    grid-column: 3/4;
    grid-row: 1/3;
    background-color: rgb(228, 186, 0);
    color: black;
}

.elemento3{
    grid-column: 1/2;
    grid-row: 2/3;
    background-color: rgb(58, 136, 224);
}

.elemento4{
    grid-column: 2/3;
    grid-row: 2/3;
    background-color: rgb(58, 136, 224);
}

.elemento5 {
    grid-column: 1/2;
    grid-row: 3/4;
    background-color: rgb(58, 136, 224);

}

.elemento6{
    grid-column: 1/5;
    grid-row: 4/5;
background-color: purple;
}

/*---------------------------------------------------------------------------------------*/

.griddos{
    width: 55vw;
    height: 40em;
    background-color: rgb(244, 245, 245);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    background-color: rgb(0, 0, 0);
    border: 0.5em solid rgb(255, 255, 255);
    outline: 0.8em solid black;
    margin-bottom: 2em;
    box-shadow: 3px 3px 10px 16px rgba(0, 0, 0, 0.363);
}

.griddos div{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border: 1px solid rgba(0, 0, 0, 0.363);
}

.elem1{
grid-column: 1/3;
grid-row: 1/2;
background-color: orange;
}

.elem2{
    grid-column: 1/4;
    grid-row: 2/3;
    background-color: rgb(147, 60, 158);
}

.elem3{
    grid-column: 3/4;
    grid-row: 1/2;
    background-color: rgb(52, 66, 66);
}

.elem4{
    grid-column: 4/5;
    grid-row: 1/3;
    background-color: rgb(14, 192, 103);

}

.elem5{
    grid-column: 1/3;
    grid-row: 3/5;
    background-color: rgb(209, 50, 50);
    
}

.elem6{
    background-color: rgb(52, 66, 66);
}

.elem7{
    background-color: rgb(52, 66, 66);
}

.elem8{
    background-color: orange;
    grid-column: 3/5;
    
}

.elem9{
    background-color: rgb(52, 66, 66);
}

.elem10{
background-color: rgb(14, 192, 103);
grid-column: 2/3;
grid-row: 5/7;
}

.elem11{
    background-color: rgb(52, 66, 66);
}

.elem12{
    background-color: rgb(147, 60, 158);
    grid-column: 1/4;
    grid-row: 7/8;
}

.elem13{
    background-color: rgb(52, 66, 66);
}

.elem14{
    background-color: rgb(52, 66, 66);
}