body{
    background:linear-gradient(45deg, rgb(10, 10, 10), rgb(19, 18, 18));
    display: flex;
    flex-direction: column;
    align-items: center;
}


h3{
color: rgb(255, 132, 87);
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

p{
    color: white;
}

.contenedor{
     grid-template-columns: auto, auto, auto;
    display: flex;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.tarjeta{
    margin: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-content: center;
    background-color: rgb(24, 24, 24);
    border-radius: 30px;
}

img{
    width: 500px;
    height: auto;
}